-
  var messages = [
    {
      name: "Вениамин Редакторович",
      text: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
      time: "8 минут назад",
    },

    {
      name: "Кодовёнок Хекслетович",
      text: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
      time: "5 минут назад",
    },

    {
      name: "Кодовёнок Хекслетович",
      text: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
      time: "3 минуты назад",
    },
    
    {
      name: "Вениамин Редакторович",
      text: "о_О",
      time: "Только что",
    },
  ]
  
include mixins.pug

.container.pb-5
  each message in messages
    if message.name=="Кодовёнок Хекслетович"
      .row.justify-content-end.mt-5.mb-5
        .col.col-sm-8.d-flex.align-items-end
          .d-flex.align-items-center
            +getAvatar(message.name, "img-h-50 rounded-circle shadow-sm d-none d-sm-block")
          .bg-primary.shadow-sm.radius.p-4.ms-3
            .text-light.border-bottom.border-light.pb-2= message.text
            small.text-gray= message.time
    else
      .row.mb-5
        .col.col-sm-8.d-flex.align-items-end
          .d-flex.align-items-center
            +getAvatar(message.name,"img-h-50 rounded-circle shadow-sm d-none d-sm-block") 
          .bg-light.shadow-sm.radius.p-4.ms-3
            h6.fw-bold.text-dark= message.name
            .text-muted.pb-2= message.text
            small.text-muted= message.time
